@import "reset";
@import "bourbon/bourbon";

// {{{ Animations

@include keyframes(titleFade) {
  from { opacity:0; } to { opacity:1; }
}

@include keyframes(fadeup) {
  from {
    opacity:0;
  }
  to {
    opacity:1;
    @include transform(translateY(-0.5em));
  }
}

body.index > header h1, body.index > header li {
  opacity:0;
  @include animation-name(titleFade);
  @include animation-timing-function($ease-out-quad);
  @include animation-fill-mode(forwards);
  @include animation-duration(0.85s);
}

body.index > header h1 {
  @include animation-delay(0.4s);
}

body.index > header ul li {
  &:nth-child(1) {
    @include animation-delay(1s);
  }
  &:nth-child(2) {
    @include animation-delay(1.3s);
  }
  &:nth-child(3) {
    @include animation-delay(1.6s);
  }
}

section {
  opacity:0;
  @include animation-name(fadeup);
  @include animation-timing-function($ease-out-quad);
  @include animation-fill-mode(forwards);
  @include animation-duration(0.65s);
}

// }}}
// {{{ Global

$link-color:#D91E18;

a {
  color:$link-color;
}

body {
  font-size:1.1em;
  max-width:35em;
  color:#5F5F5F;
  margin:0 auto;
  padding:30vh 1.4em 0 1.4em;
  font-family:"eb_garamond12_regular", serif;
}

// }}}
// {{{ Header

body > header {
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(baseline);
  @include flex-wrap(wrap-reverse);

  a {
    text-decoration:none;
  }
}

header h1 {
  padding-bottom:1em;
  font-size:2em;
  font-family:"eb_garamond12_regular", serif;

  a {
    color:#5F5F5F;
  }
}

header ul {
  @include display(flex);
  font-size:1.2em;

  li {
    padding:0 0.4em;
    padding-bottom:1em;
  }

  a:hover { 
    text-decoration:underline;
  }
}

#current-page {
  font-family:"eb_garamond12_italic";
}

// }}}
// {{{ Section

section {
  p {
    line-height:1.42em;
  }
}

// }}}
// {{{ Works Page

section h2 {
  font-size:1.2em;
  padding-bottom:1em;
  padding-top:2em;

  &:nth-child(1) {
    padding-top:0;
  }
}

section ul {
  list-style-type:disc;
}

section li {
  padding-bottom:0.5em;
}

.work-title {
  font-family:"eb_garamond12_italic";
}

@font-face {
  font-family: 'eb_garamond12_italic';
  src: url('../fonts/ebgaramond12-italic-webfont.woff2') format('woff2'),
  url('../fonts/ebgaramond12-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'eb_garamond12_regular';
  src: url('../fonts/ebgaramond12-regular-webfont.woff2') format('woff2'),
  url('../fonts/ebgaramond12-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// }}}
